<form [formGroup]="createUpdateForm" class="form">
    <div fxLayout="row wrap">
        <mat-form-field class="form-element" fxFlex="0 0 50%">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="form-element" fxFlex="0 0 50%">
            <mat-label>Genere</mat-label>
            <input matInput formControlName="genere" required>
        </mat-form-field>
        <mat-form-field class="form-element" fxFlex="0 0 50%">
            <mat-label>Image Url</mat-label>
            <input matInput formControlName="imageurl" required>
        </mat-form-field>
        <mat-form-field class="form-element" fxFlex="0 0 50%">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element" fxFlex="0 0 50%">
            <mat-label>Excerpt</mat-label>
            <textarea matInput formControlName="excerpt"></textarea>
        </mat-form-field>

        <mat-form-field class="form-element" fxFlex="0 0 50%">
            <mat-label>Written By</mat-label>
            <mat-select formControlName="written" multiple>
                <mat-option *ngFor="let person of writers" [value]="person">{{person}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element" fxFlex="0 0 50%">
            <mat-label>Publisher</mat-label>
            <mat-select formControlName="publisher">
                <mat-option *ngFor="let publisher of publishers" [value]="publisher">{{publisher}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="createUpdateForm.invalid"
            (click)="CreateBook()">Submit Form</button>
    </div>

</form>