// .example-container {
//     width: 400px;
//     height: 200px;
//     margin: 10px;
//     border: 1px solid #555;
//   }

.main-container {
    width: 97%;
    margin-left: 20px;
    margin-top: 10px;
}